:root.light {
  --background-color: rgb(255, 255, 255);
  --text-color: #121213;
  --big-text-color: rgb(24, 24, 24);
}


:root.dark {
  --background-color: rgb(18, 18, 19);
  --text-color: rgb(167, 166, 166);
  --big-text-color: white;
}

@media only screen and (max-width: 480px) {

  .header {
    --header-width: 320px;
  }

  #help {
    --width-help: 320px;
  }

  #stats {
    --width-stats: 320px;
  }

  #options {
    --width-options: 320px;
  }

  .bombIcon {
    --left-margin: 19px;
  }

  #bombText {

    --text-left: 127px;
  }

  h1 {
    --font-size-h1: 12px;
    --margin-left-h1: 40px;
    --margin-right-h1: 6px;
  }

  .h1Emoji1 {
    --emoji-size: 12px;
  }

  .h1Emoji2 {
    --emoji-size: 12px;
  }

  .h1D {
    --letter-spacing-D: -3px;
  }

  #playButton {
    --button-outline: rgb(167, 166, 166) solid 2px;
  }
}

@media only screen and (min-width: 481px) {
  .header {
    --header-width: 548px;
  }

  #help {
    --width-help: 500px;
  }

  #stats {
    --width-stats: 500px;
  }

  #options {
    --width-options: 500px;
  }

  .bombIcon {
    --left-margin: 10px;
  }

  #bombText {

    --text-left: 208px;
  }

  h1 {
    --font-size-h1: 24px;
    --margin-left-h1: 91px;
    --margin-right-h1: 46px;
  }

  .h1Emoji1 {
    --emoji-size: 25px;
  }

  .h1Emoji2 {
    --emoji-size: 25px;
  }

  .h1D {
    --letter-spacing-D: -7px;
  }

  #playButton {
    --button-outline: transparent solid 2px;
  }

}

:root {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Monserrat, sans-serif;
  touch-action: pan-x pan-y;
  height: 100%;
}

body {
  margin: 1px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--header-width);
  padding: 4px 0;
  vertical-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;

}

#help {
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--width-help);
  padding: 4px 0;
  font-size: 14px;

}

#stats {
  display: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--width-stats);
  padding: 4px 0;



}

#options {
  display: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--width-options);
  padding: 4px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;


}

.container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

h1 {
  text-transform: uppercase;
  border-botom: 1px solid #555;
  margin: 0;
  margin-left: var(--margin-left-h1);
  margin-right: var(--margin-right-h1);
  font-size: var(--font-size-h1);
}

.h1Emoji1 {
  letter-spacing: -10px;
  position: relative;
  top: -3px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  display: inline-block;
  font-size: var(--emoji-size);
}

.h1Emoji2 {
  letter-spacing: -10px;
  position: relative;
  top: -3px;
  font-size: var(--emoji-size);
}


.h1D {
  letter-spacing: var(--letter-spacing-D);
}

.logo {
  color: var(--big-text-color);
}

.button {
  align-items: center;
  flex-direction: row;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 37px;
  text-align: center;
  outline: transparent solid 2px;
  outline-offset: 2px;
  border-radius: 4px;
  transition: 0.3s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.options {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.button2 {
  background-image: linear-gradient(92.88deg, #3c9857 9.16%, #379735 43.89%, #5ba339 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--big-text-color);
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 6px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 140px;
}

.button2:hover {
  box-shadow: rgba(117, 205, 63, 0.5) 0 1px 20px;
  transition-duration: .1s;
}


#headerInstructions {

  align-items: center;
  height: 50px;
  width: var(--width-help);
  position: relative;
}

#tittleInstructions {
  font-family: Monserrat, sans-serif;
  color: var(--big-text-color);
  font-size: 22px;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  padding: 10px;

}


#headerStats {

  align-items: center;
  height: 50px;
  width: var(--width-stats);
  position: relative;
}

#tittleStats {
  font-family: Monserrat, sans-serif;
  color: var(--big-text-color);
  font-size: 22px;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  padding: 10px;

}


#headerOptions {

  align-items: center;
  height: 50px;
  width: var(--width-stats);
  position: relative;
}

#tittleOptions {
  font-family: Monserrat, sans-serif;
  color: var(--big-text-color);
  font-size: 22px;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  padding: 10px;

}

.buttonClose {
  position: absolute;
  top: 10px;
  right: 0px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  outline: transparent solid 2px;
  outline-offset: 2px;
  border-radius: 4px;
  transition: 0.3s;
}

.buttonClose:hover {
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

#bomb {
  position: relative;
  font-size: 20px;

}

.bombIcon {
  position: relative;
  font-size: 20px;
  left: var(--left-margin);
  animation-name: bombAnimation;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 70px 105px;
}

@keyframes bombAnimation {
  0% {
    transform: scale(1);
    content: url("./assets/bomb1.svg");
  }

  33% {
    transform: scale(1);
    content: url("./assets/bomb2.svg");
  }

  66% {
    transform: scale(1.1);
    content: url("./assets/bomb1.svg");
  }

  100% {
    transform: scale(1.1);
    content: url("./assets/bomb2.svg");
  }
}

#bombText {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  width: 60px;
  height: 28px;
  bottom: 44px;
  left: var(--text-left);
}


#statsContainer {
  margin-top: 10px;
  width: 275px;
  height: 55px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  position: relative;
}

.statsIndivialStat {
  text-align: center;
  width: 65px;
  height: 17px;
  position: absolute;
  top: 0px;
}


.statsIndivialContainer {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 65px;
  height: 60px;
}

.statsText {
  height: 32px;
  width: 65px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 0px;
  font-size: 13px;
}

#statsContainerKeyboard {
  width: 320px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}

#statsKeyboard {
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#statsTextKeyboard {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#share {
  width: 275px;
  height: 55px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  position: relative;
}

.shareText {
  margin-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#buttonShareContainer {
  margin-top: 10px;
  width: 275px;
  height: 35px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  position: relative;


}

#buttonShareWhatsapp {
  height: 35px;
  width: 35px;
  display: inline-block;
  cursor: pointer;
  margin-left: 46px;
  margin-right: auto;
  content: url("./assets/whatsapp.svg");
}

#buttonShareTwitter {
  height: 35px;
  width: 35px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  margin-right: auto;
  content: url("./assets/twitter.svg");
}

#buttonShareTelegram {
  height: 35px;
  width: 35px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  margin-right: auto;
  content: url("./assets/telegram.svg");
}

#buttonCopy {
  height: 35px;
  width: 35px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  margin-right: auto;
  content: url("./assets/clipboard.svg");
}


#buttonCopy:active {
  content: url("./assets/check.svg");
}


.switch {
  position: absolute;
  right: 0px;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(243, 243, 243);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #055494;
}

input:focus+.slider {
  box-shadow: 0 0 1px #1273c3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#optionsCointainer {
  margin-top: 10px;
  width: 340px;
  height: 55px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  position: relative;
}

.mode {
  margin-top: 20px;
  height: 34px;
  height: 40px;
  line-height: 40px;
}

.modeText {
  position: absolute;
  bottom: center;
}

#contact {
  position: relative;
  width: 320px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
